build/
cbclua/cmods/
cbclua/lua
local/cmods/
usbinstall/cbclua.tgz
interact/*.pyc
src/lua-5.1.4-arm/*.o
src/lua-5.1.4-arm/liblua.a
src/lua-5.1.4-arm/lua
src/lua-5.1.4-arm/luac
src/luasocket-2.0.2-arm/src/*.o
src/luasocket-2.0.2-arm/src/*.so.*

